.navpaginado {
  display: flex;
  list-style: none;
  padding-bottom: 10px;
  margin: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.paginado {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pageitem {
  margin-right: 10px;

}

.page-item:last-child {
  margin-right: 0;
}

.pagelink {
  display: block;
  padding: 5px;
  border-bottom: 1px solid #dee2e6;
  color: #F0F1F2;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.page-link:hover {
  color: #F0F1F2;
  transform: scale(1.2);
  border-bottom: 1px solid #343a40;
  transition: scale 0.3s ease;
}

.page-link:focus {
  background-color: #041840;
  border-bottom: 1px solid #F0F1F2;
  color: #F0F1F2;
  transform: scale(1.2);
  transition: scale 0.3s ease;
}